<mat-dialog-content style="width: 40em">
  <div class="row mb-3 flex-justify-center">
    {{ data.message }}
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="d-flex justify-content-around" style="width:100%">
    <button class="btn btn-cyan" (click)="close(true)">{{ "SCAN-RESULT-DIAG.OK" | translate }}</button>
    <button
      class="btn btn-danger"
      style="margin-left: 1em;"
      (click)="close(false)">
      {{ "SCAN-RESULT-DIAG.CANCEL" | translate }}</button>
  </div>
</mat-dialog-actions>
