<div class="container" style="margin-top: 2em;">
  <div class="row text-center">
    <div class="col">
      <button
        class="btn btn-cyan"
        (click)="navigateToHome()">{{ 'DETAILS-FOOTER.BACK' | translate }}</button>
    </div>
    <div class="col">
      <button
        class="btn btn-cyan"
        matTooltip="{{getModelTooltip()}}"
        [matTooltipPosition]="'above'"
        matTooltipClass="details-footer-tooltip"
        (click)="browseModel()">{{ 'SETTINGS.MODEL-SELECTION' | translate }}</button>
    </div>
    <div class="col">
      <button
        class="btn btn-cyan"
        matTooltip="{{ ('DETAILS-FOOTER.THRESHOLD-BTN-SELECTION-TOOLTIP' | translate) + threshold }}"
        [matTooltipPosition]="'above'"
        matTooltipClass="details-footer-tooltip"
        (click)="selectThreshold()">{{ 'DETAILS-FOOTER.THRESHOLD-BTN-SELECTION' | translate }}</button>
    </div>
    <div class="col">
      <button
        class="btn btn-cyan"
        (click)="analyze()"
        [disabled]="analysisInProgress"
        style="width: 120px;">
          <span *ngIf="!analysisInProgress">{{ 'DETAILS-FOOTER.NEW-ANALYZE' | translate }}</span>
          <span *ngIf="analysisInProgress"><i class="bi bi-hourglass-split"></i></span>
      </button>
    </div>
  </div>
</div>
