<div class="row mb-3 flex-justify-center">
  <label class="col-sm-4 col-form-label">{{ buttonLabel }}</label>
  <div class="col-sm-3">
    <button
      class="btn btn-cyan form-control col-sm-2"
      (click)="browse()"
      type="button">{{ buttonName }}</button>
  </div>
</div>
<div class="row mb-3">
  <div class="flex-justify-center">
    <strong>{{ value ? value : ('SETTINGS.NO-VALUE' | translate) }}</strong>
  </div>
</div>
<div class="row mb-3 flex-justify-center">
  <hr style="max-width:70%;">
</div>
