<div *ngIf="results && results.length > 0" style="margin-top: 30px; max-height: 300px; max-width: 90em; overflow: auto;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="results-table-header-item">{{ 'RESULTS.NAME' | translate }}</th>
        <th scope="col" class="results-table-header-item">{{ 'RESULTS.SEX' | translate }}</th>
        <th scope="col" class="results-table-header-item">{{ 'RESULTS.DOB' | translate }}</th>
        <th scope="col" class="results-table-header-item">{{ 'RESULTS.DOA' | translate }}</th>
        <th scope="col" class="results-table-header-item">{{ 'RESULTS.POSITIVES' | translate }}</th>
        <th scope="col" class="results-table-header-item">{{ 'RESULTS.TOTAL' | translate }}</th>
        <th scope="col" class="results-table-header-item">{{ 'RESULTS.MODEL' | translate }}</th>
        <th scope="col" class="results-table-header-item">{{ 'RESULTS.THRESHOLD' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        role="button"
        *ngFor="let result of results | reverse; let i = index" [ngClass]="getRowClass(result)"
        (click)="showDetails(results.length - 1 - i)">
        <td>{{ result.main.Patient }}</td>
        <td>{{ result.main.Sex === 'M' ?
          ('RESULTS.SEX-SYMBOL.M' | translate) : ('RESULTS.SEX-SYMBOL.F' | translate) }}
        </td>
        <td>{{ result.main.Born }}</td>
        <td>{{ result.main.Date }}</td>
        <td>{{ result.main.positive }}</td>
        <td>{{ result.main.total }}</td>
        <td>{{ result.main['Model Name'] }}</td>
        <td>{{ result.main.Threshold }}</td>
      </tr>
    </tbody>
  </table>
</div>
