<div
  class="h-100 w-75 container flex-justify-center"
  style="flex-direction: column">
  <form class="row flex-justify-center" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="executor">Executor</label>
      <input
        class="form-control"
        id="executor"
        name="executor"
        type="text"
        [(ngModel)]="analyzeSettings.executor"/>
    </div>
    <div class="form-group">
      <label for="scriptName">Script name</label>
      <input
        class="form-control"
        id="scriptName"
        name="scriptName"
        type="text"
        [(ngModel)]="analyzeSettings.scriptName"/>
    </div>
    <div class="form-group">
      <label for="settingsParamName">Settings parameter name</label>
      <input
        class="form-control"
        id="settingsParamName"
        name="settingsParamName"
        type="text"
        [(ngModel)]="analyzeSettings.settingsParamName"/>
    </div>
    <div class="form-group">
      <label for="folderParamName">Folder parameter name</label>
      <input
        class="form-control"
        id="folderParamName"
        name="folderParamName"
        type="text"
        [(ngModel)]="analyzeSettings.folderParamName"/>
    </div>
    <div class="form-group">
      <label for="modelParamName">Model parameter name</label>
      <input
        class="form-control"
        id="modelParamName"
        name="modelParamName"
        type="text"
        [(ngModel)]="analyzeSettings.modelParamName"/>
    </div>
    <div class="form-group">
      <label for="thresholdParamName">Threshold parameter name</label>
      <input
        class="form-control"
        id="thresholdParamName"
        name="thresholdParamName"
        type="text"
        [(ngModel)]="analyzeSettings.thresholdParamName"/>
    </div>
    <div class="form-group">
      <label for="resultString">Result command to be executed: </label>
      <input
        class="form-control"
        id="resultString"
        name="resultString"
        type="text"
        disabled
        [value]="
            analyzeSettings.executor + ' '
             + settings.serviceDir + '\\' + analyzeSettings.scriptName + ' '
             + analyzeSettings.settingsParamName + ' '
             + settingsLocation"/>
    </div>
    <div class="form-group">
      <label for="resultDetailString">Result command to be executed for detail scan: </label>
      <input
        class="form-control"
        id="resultDetailString"
        name="resultDetailString"
        type="text"
        disabled
        [value]="
            analyzeSettings.executor + ' '
             + settings.serviceDir + '\\' + analyzeSettings.scriptName + ' '
             + analyzeSettings.settingsParamName + ' ' + settingsLocation + ' '
             + analyzeSettings.folderParamName + ' /path/to/folder '
             + analyzeSettings.modelParamName + ' /path/to/model.model '
             + analyzeSettings.thresholdParamName + ' 0.45'"/>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col flex-justify-center">
        <button class="btn btn-success" type="submit">Save</button>
      </div>
      <div class="col flex-justify-center">
        <button class="btn btn-danger" type="button" [routerLink]="['/']">Cancel</button>
      </div>
    </div>
  </form>
</div>
