<mat-dialog-content>
  <h5>{{ data.message }}</h5>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="d-flex justify-content-around" style="width:100%">
    <button class="btn btn-cyan" (click)="close(true)">{{ data.buttonName }}</button>
    <button class="btn btn-danger" style="margin-left: 1em;" (click)="close(false)">{{ 'Отказ' }}</button>
  </div>
</mat-dialog-actions>
