<button
  style="min-width: 500px; height: 200px; font-size: 48px;"
  class="btn btn-cyan"
  [disabled]="analysisInProgress"
  (click)="analyze()">
  <span *ngIf="analysisInProgress">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    <div>{{ 'ANALYZE.IN-PROGRESS' | translate }}</div>
  </span>
  <span *ngIf="!analysisInProgress">{{ 'ANALYZE.ANALYZE' | translate }}</span>
</button>
<br>
<br>
<div class="text-danger" *ngIf="scanStatus.result.toUpperCase() !== 'OK'">
  {{ ( 'ANALYZE.LAST-ERR' | translate ) + scanStatus.message }}</div>
<br>
<button
  style="min-width: 200px; height: 100px; font-size: 20px;"
  class="btn btn-cyan"
  (click)="openDicomSelect()">
  <span>{{ 'ANALYZE.NEW-PATIENT' | translate }}</span>
</button>
