<div class="row mb-3 flex-justify-center">
  <label class="col-sm-4 col-form-label">{{ sliderLabel }}</label>
  <div class="col-sm-3">
    <input
      style="width: 100%"
      type="range"
      min="0.01"
      max="0.9"
      step="0.01"
      [(ngModel)]="value"
      (change)="onChange(value)">
  </div>
</div>
<div class="row mb-3">
  <div class="flex-justify-center">
    <strong>{{ value ? value : ('SETTINGS.NO-VALUE' | translate) }}</strong>
  </div>
</div>
