<mat-dialog-content style="width: 40em">
  <div class="row mb-3 flex-justify-center">
    <label class="col-sm-7 col-form-label">{{ 'SETTINGS.THRESHOLD' | translate }}</label>
    <div class="col-sm-3" style="display: flex;">
      <input
        style="width: 100%"
        type="range"
        min="0.01"
        max="0.9"
        step="0.01"
        [(ngModel)]="value">
    </div>
  </div>
  <div class="row mb-3">
    <div class="flex-justify-center">
      <strong>{{ value ? value : ('SETTINGS.NO-VALUE' | translate) }}</strong>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="d-flex justify-content-around" style="width:100%">
    <button
      class="btn btn-cyan"
      (click)="close(true)">
      {{ 'SETTINGS.SAVE' | translate }}</button>
    <button
      class="btn btn-danger"
      style="margin-left: 1em;"
      (click)="close(false)">
      {{ 'SETTINGS.CANCEL' | translate }}</button>
  </div>
</mat-dialog-actions>
