html {
  width: 100vw;
}

html,
body {
  height: 100vh;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.btn-cyan, .btn-cyan:focus {
  color: #fff;
  background-color: #0AA2C0;
  border-color: #0AA2C0;
  max-width: 180px;
}

.btn-cyan:hover {
  color: #fff;
  background-color: #055160;
  border-color: #055160;
}

.results-table-header-item {
  position: sticky;
  top: 0;
  background-color: lightgray !important;
  border-bottom: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.details-footer-tooltip {
  word-break: break-all !important;
  white-space: normal !important;
  font-size: 12px;
}
