<div style="height: 100%; width: 100%; background-image: url('assets/background/background.jpg'); padding: 2em;">
  <div class="mt-3 d-flex justify-content-between align-items-center">
    <div style="background: lightgray; border-radius: 10px; padding: 1em">
      <p>
        <b>
          {{ this.settings.modelFile ?
          ('HOME.MODEL-NAME' | translate) + this.settings.modelFile
          : ('SETTINGS.NO-CHOSEN-MODEL' | translate) }}
        </b>
      </p>
      <p>
        <b>
          {{ ('HOME.THRESHOLD' | translate) + this.settings.threshold }}
        </b>
      </p>
    </div>

    <div>
      <h2 class="p-3" style="background: lightgray; border-radius: 10px;">
        <a [routerLink]="['/settings']">
          <i class="bi bi-gear" style="margin-bottom: 11px; display: block;"></i>
        </a>
      </h2>
    </div>
  </div>

  <div style="margin-top: 3em;">
    <app-analyze></app-analyze>
    <br>
    <app-results-table></app-results-table>
  </div>
<div>
