<div class="container-fluid pt-2">
  <div class="row text-center" *ngIf="scanResult">
    <div class="col-sm-5" style="max-height: 50em; overflow: auto;">
      <table class="table table-hover">
        <tbody>
          <tr
            role="button"
            [ngClass]="{'table-success': i === currentIndex}"
            *ngFor="let item of scanResult.positive; let i = index">
            <td (click)="showItem(i)">
              {{ item.png }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-7">
      <div>
        <div><b>{{ 'RESULTS.PATIENT-NAME' | translate }}</b> {{ scanResult.main.Patient }}</div>
        <div style="display: flex; justify-content: space-between;">
          <span style="width: 50%">
            <b>{{ 'RESULTS.PATIENT-SEX' | translate }}</b> {{ scanResult.main.Sex === 'M' ?
            ('RESULTS.SEX-SYMBOL.M' | translate) : ('RESULTS.SEX-SYMBOL.F' | translate) }}
          </span>
          <span style="width: 50%">
            <b>{{ 'RESULTS.PATIENT-AGE' | translate }}</b> {{ scanResult.main.Age }}
          </span>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <span style="width: 50%">
            <b>{{ 'RESULTS.PATIENT-THRESHOLD' | translate }}</b> {{ scanResult.main.Threshold }}
          </span>
          <span style="width: 50%">
            <b>{{ 'RESULTS.PATIENT-MODEL' | translate }}</b> {{ scanResult.main['Model Name'] }}
          </span>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">{{ 'RESULTS.TBL-STROKE' | translate }}</th>
              <th scope="col">{{ 'RESULTS.TBL-EPIDURAL' | translate }}</th>
              <th scope="col">{{ 'RESULTS.TBL-INTRAPARENCHYMAL' | translate }}</th>
              <th scope="col">{{ 'RESULTS.TBL-INTRAVENTRICULAR' | translate }}</th>
              <th scope="col">{{ 'RESULTS.TBL-SUBARACHNOID' | translate }}</th>
              <th scope="col">{{ 'RESULTS.TBL-SUBDURAL' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">
                <i
                  *ngIf="isPositive('any')"
                  class="bi bi-check-square-fill text-danger"></i>
              </th>
              <th scope="col">
                <i
                  *ngIf="isPositive('epidural')"
                  class="bi bi-check-square-fill text-danger"></i>
              </th>
              <th scope="col">
                <i
                  *ngIf="isPositive('intraparenchymal')"
                  class="bi bi-check-square-fill text-danger"></i>
              </th>
              <th scope="col">
                <i
                  *ngIf="isPositive('intraventricular')"
                  class="bi bi-check-square-fill text-danger"></i>
              </th>
              <th scope="col">
                <i
                  *ngIf="isPositive('subarachnoid')"
                  class="bi bi-check-square-fill text-danger"></i>
              </th>
              <th scope="col">
                <i
                  *ngIf="isPositive('subdural')"
                  class="bi bi-check-square-fill text-danger"></i>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row text-center mt-5 mb-5" *ngIf="scanResult">
        <div class="col-sm">
          <img *ngIf="showImage" #pictureHolder src="" alt="{{'RESULTS.PICTURE' | translate}}">
        </div>
      </div>
    </div>
  </div>
  <app-details-footer [detailsFolder]="getDetailsFolder()"></app-details-footer>
</div>
