<div class="position-absolute top-0 end-0">
  <h2 class="p-3">
    <a type="button" [routerLink]="['/settings','analyze']">
      <i class="bi bi-terminal-fill"></i>
    </a>
  </h2>
</div>
<div
  class="h-100 w-75 container flex-justify-center"
  style="flex-direction: column">
  <div class="row mb-3 flex-justify-center" *ngIf="sysSettings.availableLanguages.length > 1">
    <label class="col-sm-4 col-form-label">{{ 'SETTINGS.LANGUAGE-LBL' | translate }}</label>
    <div class="col-sm-3">
      <select class="col-sm-2" #lang style="width: 180px;">
        <option
          *ngFor="let lang of sysSettings.availableLanguages"
          [value]="lang.sign"
          [selected]="lang.sign === sysSettings.language">{{ lang.label }}</option>
      </select>
    </div>
  </div>
  <div class="row mb-3 flex-justify-center">
    <hr style="max-width:70%;">
  </div>
  <form class="row flex-justify-center" (ngSubmit)="onSubmit()" #f="ngForm">
    <app-setting-chooser
      name="dicomDir"
      [ngModel]="settings.dicomDir"
      [buttonLabel]="('SETTINGS.DICOM-DIR-SELECTION' | translate)"
      [buttonName]="('SETTINGS.SELECT-DIR' | translate)"
      [type]="'openDirectory'"></app-setting-chooser>
    <app-setting-chooser
      name="serviceDir"
      [ngModel]="settings.serviceDir"
      [buttonLabel]="('SETTINGS.SERVICE-DIR-SELECTION' | translate)"
      [buttonName]="('SETTINGS.SELECT-DIR' | translate)"
      [type]="'openDirectory'"></app-setting-chooser>
    <app-setting-chooser
      name="modelFile"
      [ngModel]="settings.modelFile"
      [buttonLabel]="('SETTINGS.MODEL-SELECTION' | translate)"
      [buttonName]="('SETTINGS.SELECT-MODEL' | translate)"
      [type]="'openFile'"></app-setting-chooser>
    <app-setting-chooser
      name="resultsDir"
      [ngModel]="settings.resultsDir"
      [buttonLabel]="('SETTINGS.RESULTS-DIR-SELECTION' | translate)"
      [buttonName]="('SETTINGS.SELECT-DIR' | translate)"
      [type]="'openDirectory'"></app-setting-chooser>
    <app-setting-slider
      name="threshold"
      [ngModel]="settings.threshold"
      [sliderLabel]="('SETTINGS.THRESHOLD' | translate)"></app-setting-slider>
    <div class="row">
      <div class="col flex-justify-center">
        <button class="btn btn-success" type="submit">{{ 'SETTINGS.SAVE' | translate }}</button>
      </div>
      <div class="col flex-justify-center">
        <button class="btn btn-danger" type="button" [routerLink]="['/']">{{ 'SETTINGS.CANCEL' | translate }}</button>
      </div>
    </div>
  </form>
</div>
